# MongoDB Connection String
MONGO_URI=mongodb+srv://admin:Admin123@cluster0.example.mongodb.net/sitesnap_pro?retryWrites=true&w=majority

# JWT Secret (Change this in production)
JWT_SECRET=supersecret_jwt_key_12345

# Server Port
PORT=3000

# Puppeteer Config (Optional override)
# PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable

# Email OTP settings
EMAIL_USER=your-smtp-email@example.com
EMAIL_PASS=your-smtp-password-or-app-password

# Browserless API key
BROWSERLESS_API_KEY=your-browserless-api-key
